body {
    background-color: rgb(37,40,45);
}

#app {
    margin: auto;
    margin-top: 30px;
    max-width: 480px;
    font-family: 'Butcherman';
    overflow: hidden;
}

.myCardSection {
   margin-top: 2em;
   text-align: center;
}

.myCardImg {
    border-radius: 18px;
    width: 82%;
}

.options {
    margin-top: 50px;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 40px;
}

.btn-block+.btn-block {
    margin-top: 1.1em;
}

button {
    font-size: 1.5em;
    letter-spacing: 3px;
    color: #181a14;
    height: 80px;
    border-radius: 10px;
    box-shadow: 2px 4px rgba(231, 208, 95, 0.65);
    margin-top: 25px;
}

.btn-block {
    background-color: #F9F9F9;
    display: block;
    width: 80%;
    margin: auto;
}

.lobbyText {
    color: white;
    margin: 10px;
}