body {
    background-color: rgb(37,40,45);
}

#app {
    margin: auto;
    margin-top: 30px;
    max-width: 480px;
    font-family: 'Butcherman';
    overflow: hidden;
    position: relative;
}

.lobbyText {
    color: white;
    margin-left: 13px;
    margin-top: 13px;
    margin-bottom: 3px;
}

.myCardSection {
   margin-top: 2em;
   text-align: center;
}

.myCardImg {
    border-radius: 18px;
    width: 82%;
}

.options {
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 40px;
}

.btn-block+.btn-block {
    margin-top: 1.1em;
}

button {
    font-size: 1.5em;
    letter-spacing: 3px;
    word-spacing: .8em;
    color: #181a14;
    height: 2.6em;
    border-radius: 10px;
    box-shadow: 2px 4px rgba(231, 208, 95, 0.65);
    margin-bottom: 25px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.btn-block {
    background-color: #F9F9F9;
    display: block;
    width: 80%;
    margin: auto;
}


.modalBackground {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(37,40,45);
    z-index: 99;
    display: none;
}

#UsersRole {
    margin-bottom: 1.2em;
}

.role {
    display: none;
}

.supplier {
    display: none;
}

#ModalScreen {
    font-family: 'Actor';
    margin-top: 2em;
    font-size: 1.4em;
    text-align: center;
    color: white;
    padding: 10px;
}

#closeBtn {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    bottom:   1.2em;
}
/* all middle cards */
.middleCard {
    padding: 8px;
    margin: auto;
    border: 1px solid black;
    margin-top: 20px;
    background-color: #F9F9F9;
    color: #181a14;
    box-shadow: 1px 2px rgba(231, 208, 95,0.65);
}

#roleFeedback {
    text-align: cemter;
    color: white;
    margin-top: 40px;
}