<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>One Night Werewolf</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <!--    <link href="/main.css" rel="stylesheet">-->
    <script src="/index.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Butcherman' rel='stylesheet'>
</head>
<style>
    body {
        background-color: rgb(155,165,148);
    }

    .header {
        font-family: 'Butcherman';
        text-align: center;
        font-size: 4em;
        color: #e65c00;
    }

    .options {
        padding: 20px;
        border-radius: 5px;
        background-color: white;
        margin-bottom: 40px;
    }

    button {
        padding-top: 30px;
        padding-bottom: 30px;
        margin-top: 20px;
        font-size: 1.4em;
    }

</style>
<body>
<div style="margin-top: 100px" class="container">
    <div class="row">
        <div class="col-sm-6">
            <img class="img-fluid" th:src="@{${'/imgs/one-night.png'}}"/>
        </div>
        <div class="col-sm-6">
            <h1 class="header">One Night<br />Werewolf</h1>
            <div style="margin-top: 50px" class="row">
                <div class="col-sm-12 options">
                    <h3>Options</h3>
                    <button onclick="startGame()" class="btn btn-outline-info btn-block">Host</button>
                    <button onclick="joinGame()" class="btn btn-outline-info btn-block">Join Game</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
