<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>One-Night</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Butcherman' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Actor' rel='stylesheet'>
    <link rel="stylesheet" href="/css/lobby.css">
    <script src="/lobby_connect.js"></script>
    <script src="/global.js"></script>
    <script src="/action.js"></script>
</head>
<body>
<div style="display: none;" id="playerName" th:text="${playerName}"></div>

<div id="app" class="container">

    <h7 class="lobbyText" id="LobbyTxt">Lobby: <span id="lobbyId" th:text="${lobby}"></span></h7>

    <div class="row myCardSection">
        <div class="col-sm-12">
            <img id="myCardImg" class="img-fluid myCardImg" th:src="@{${'/imgs/back_of_card.jpg'}}">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 options">
            <button id="startBtn" onclick="readyToStart()" class="btn-block">
                Ready To Start
            </button>
            <button disabled id="actionBtn" onclick="doAction()" class="btn-block">
                Do Action
            </button>
        </div>
    </div>


<!--    Look to user Thymeleaf template-->
    <!--Modal-->
    <div id="ActionModal" class="modalBackground">
        <div id="ModalScreen">
            <h3 id="UsersRole"></h3>


            <!-- ROLE SECTIONS -->
            <div class="role" id="werewolfRole">
                Please look around for other Werewolves. <br/>If you are the only one, you may look in the middle.
            </div>
            <div class="role" id="troubleMakerRole">
                You may switch 2 OTHER player's cards, without looking at them.
            </div>
            <div class="role" id="roleNotSet">
                Role Not Set
            </div>
            <!-- ACTIONS SECTIONS -->
            <div class="supplier" id="middleCards">
                <div class="middleCard">Left Card</div>
                <div class="middleCard">Middle Card</div>
                <div class="middleCard">Right Card</div>
            </div>
            <div class="supplier" id="allPlayers"><hr/>
                <h4 style="text-align: center; margin-top: 18px;">Playing List</h4>
                <div id="allPlayersList"></div>
            </div>

        </div>

        <p id="roleFeedback"></p>
        <button id="closeBtn" onclick="closeModal()">Close</button>

    </div>


</div>
</body>
</html>
