<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/lobby.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Butcherman' rel='stylesheet'>
    <title>Lobby</title>
    <style>
 body {
    background-color: rgb(155,165,148);
 }
 .header {
     font-family: 'Butcherman';
     font-size: 2.5em;
     color: #e65c00;
 }

 #gamePlay {
    display: none;
 }
 .playingCard {
    margin: auto;
 }

 #MiddleCardsSection {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
 }

 #playingList {
    font-size: 2em;
 }

    </style>
</head>
<body>
<div style="display: none;" id="playerName" th:text="${playerName}"></div>
<div style="display: none;" id="playerId"></div>
<div style="margin-top: 100px" class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="header">One Night Werewolf</h2>
            <hr/>
            <h1 id="LobbyTxt" style="text-align:center;">Lobby: <span id="lobbyId" th:text="${lobby}"></span></h1>
            <hr/>
        </div>
    </div>
    <div id="preGame" style="margin-top: 60px;" class="row">
        <div class="col-sm-4">
            <h3>(<span id="playingAmount"></span>) Playing:</h3>
            <ul id="playingList">
            </ul>
        </div>
        <div class="col-sm-4">
            <button id="readyToStartBtn" onclick="readyToStart()">Ready to Start</button>
            <br/>
            <button onclick="returnHome()">Home</button>
        </div>
    </div>


    <div id="gamePlay">
        <div>
            <img id="cardIMG" class="playingCard" th:src="@{${'/imgs/back_of_card.jpg'}}"/>

        </div>

        <div>
            <div id="MiddleCardsSection">
                <h3>Middle Cards</h3>
                <img width="200" class="middleCard" th:src="@{${'/imgs/back_of_card.jpg'}}"/>
                <img width="200" class="middleCard" th:src="@{${'/imgs/back_of_card.jpg'}}"/>
                <img width="200" class="middleCard" th:src="@{${'/imgs/back_of_card.jpg'}}"/>
            </div>
        </div>

    </div>
</div>
</body>
</html>